<!DOCTYPE html>
<html>
  <head>
    <title>Horoscope App</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href="http://hk-kicks.com/square/wp-content/uploads/2011/05/h.png" rel="shortcut icon">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render partial: "layouts/header" %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
    </div>
  </body>
</html>
